/* .title {
	padding-top: 2rem;
	text-align: center;
} */

.individual-container {
	text-align: center;
}

.about-author {
	display: block;
	max-width: 60ch;
	margin-inline: auto;
	text-align: right;
}

.individual-container img.about-img {
	margin: 2rem auto;
	width: 50%;
}

.project-info p {
	text-align: left;
}
.project-text p {
	text-align: left;
}

@media (min-width: 45rem) {
	.individual-container {
		grid-area: content;
		margin: 1rem 0;
		width: min(100% - 2rem, 75rem);
		/* grid-template-columns: repeat(1, 1fr); */
		margin-inline: auto;
	}
	.individual-container h2 {
		width: 100%;
		text-align: center;
	}
	.individual-container p {
		text-align: left;
		padding: 0.7rem 0;
		max-width: 60ch;
		margin-inline: auto;
	}
	.project-info p {
		text-align: left;
		padding: 0;
	}
}

@media (min-width: 90rem) {
	.project-text {
		grid-area: asidetext;
		position: absolute;
		text-align: left;
		font-size: 1rem;
		max-width: 14rem;
		top: 3rem;
		left: 0;
	}

	.individual-container {
		margin-top: 3rem;
		max-height: 90vh;
		width: 98%;
		text-align: center;
	}
	.individual-container img {
		max-height: 100%;
	}
	.project-text p {
		text-align: left;
	}
	.project-info p {
		text-align: right;
	}
}
