.container:has(.words) {
	margin-top: 1rem;
	letter-spacing: 5px;
	gap: 0.4rem;
}

svg {
	width: 100%;
	fill: var(--fg);
}
.dark svg {
	fill: var(--bg);
}
svg text {
	font-weight: 900;
	color: var(--fg);
}

@media (min-width: 45rem) {
	.rotate {
		transform: rotate(-90deg);
	}
}
